PORT=5002
NODE_ENV=development
# Option 1: Local MongoDB (Default)
MONGO_URI=mongodb://127.0.0.1:27017/nma_aptitude

# Option 2: MongoDB Atlas Cloud (Paste your Atlas connection string below)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nma_aptitude?retryWrites=true&w=majority

JWT_SECRET=arjun_nma_super_secret_jwt_key_2026_skillup
JWT_EXPIRE=7d
